## Directories

.mypy_cache/
__pycache__/
node_modules/
.ssh/
.thumbnails/
.vscode/
.idea/
.pytest_cache/

## Files

*.mp4
*.swp
*~
*tmp*
*.tmp*
*.o
*.ko
*.exe
*.pyc
*.egg-info
*.log
*.log.*
*.bak
*.cache*
*history*
