# Test artifacts
0-tests/*

## Logs and Runtime
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
*.log.*
*.pid
*.db
logs
*.log

## Editor and Shell
.p10k.zsh
.zcompdump
.bash_history
.zsh_history
.vscode/
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.bak
*.swo
*.swn
*.~?
*~

## Python caches
.mypy_cache/
__pycache__/
*.py[cod]
*.egg-info
.pytest_cache/
*.pyc
*.pyo
build/
dist/
out/

## Node
node_modules/
npm-debug.log*
yarn-debug.log*
.yarn/cache/
dist
dist-ssr
*.local

## C/C++/Rust/Go
target/
*.dll
bin/
*.o
*.ko
*.a
*.so
*.exe

## Operating‑system Noise
.thumbnails/
$RECYCLE.BIN/
desktop.ini
*history*
Thumbs.db
.ssh/
.DS_Store
*.cache*
*tmp*
*.tmp*
*.pyc
*.part
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

## Archives
*.zip
*.tar
*.tar.*
*.7z
*.gz
*.bz2
*.xz

## Large Media
.codex-venv/
*.webm
*.iso
*.img
*.mp4
*.mkv
*.mp3
*.m4v
*.gif
*.3gp
*.flv
*.webp

## Vendor
vendor/

## Secrets
secrets.json
*.env
