[Unit]
Description=Apply GTK Themes, Icons, Cursor, and Fonts for Wayfire Session
Before=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/andro/.config/wayfire/scripts/gtkthemes
RemainAfterExit=yes

[Install]
WantedBy=default.target
