[Unit]
Description=Waybar Status Bar
After=graphical-session.target

[Service]
ExecStart=/usr/bin/waybar --bar main-bar --config=%h/.config/wayfire/waybar/config --style=%h/.config/wayfire/waybar/style.css
Restart=on-failure
Type=simple

[Install]
WantedBy=default.target
