accountsservice
acl
acpi
acpid
adobe-source-code-pro-fonts
adobe-source-sans-fonts
adwaita-cursors
adwaita-icon-theme
alsa-firmware
alsa-lib
alsa-plugins
alsa-topology-conf
alsa-ucm-conf
alsa-utils
amd-ucode
aom
appstream
arandr
arc-gtk-theme
arc-solid-gtk-theme
archlinux-appstream-data
archlinux-keyring
argon2
arp-scan
at-spi2-core
atkmm
attr
audacious
audacious-plugins
audit
autoconf
automake
avahi
ayatana-ido
b43-fwcutter
base
bash
bash-completion
bat
bc
beautyline
betterlockscreen
bind
binutils
bison
blueman
bluez
bluez-libs
brotli
btop
btrfs-progs
bubblewrap
bunsen-themes-git
bzip2
ca-certificates
ca-certificates-mozilla
ca-certificates-utils
cairo
cairomm
cantarell-fonts
catimg
cava
cht.sh-git
cifs-utils
ckbcomp
clipit
colorpicker
confuse
coreutils
cortile
cpupower
cronie
cryptsetup
ctpl
curl
dash
dav1d
db
db5.3
dbus
dbus-glib
dbus-python
dconf
default-cursors
desktop-file-utils
device-mapper
dhclient
dhcpcd
diffutils
ding-libs
dmidecode
dmraid
dnsmasq
dnssec-anchors
dosfstools
double-conversion
dracula-gtk-theme
dracula-openbox-theme
duktape
e2fsprogs
ecryptfs-utils
efibootmgr
efivar
enchant
espanso
exa
exfat-utils
exiv2
expat
f2fs-tools
faad2
fakeroot
fd
feh
ffmpeg
ffmpegthumbnailer
fftw
file
filesystem
findutils
firefox
flac
flameshot
flex
fluidsynth
fontconfig
freeglut
freetype2
fribidi
fsearch
fuse-common
fuse2
fuse3
fuzzy-pkg-finder
fzf
galculator
gawk
gc
gcc
gcc-libs
gcolor3
gcr
gcr-4
gd
gdbm
gdk-pixbuf2
geany
geany-plugins
gettext
giflib
git
gkrellm
gkrellmlaunch
glew
glib-networking
glib2
glibc
glibmm
glslang
glu
gmp
gmrun
gnome-keyring
gnome-themes-extra
gnupg
gnutls
gobject-introspection-runtime
gparted
gperftools
gpgme
gpick
gpm
gptfdisk
graphite
grep
groff
grub
gruvbox-material-gtk-theme-git
gruvbox-material-icon-theme-git
gsettings-desktop-schemas
gsimplecal
gsm
gspell
gssdp
gssproxy
gst-plugins-bad-libs
gst-plugins-base-libs
gstreamer
gtk-engine-murrine
gtk-update-icon-cache
gtk2
gtk3
gtkmm
gtkmm3
gtksourceview3
gtksourceview4
gtkspell3
guile
gupnp
gupnp-igd
gvfs
gvfs-afc
gvfs-gphoto2
gvfs-mtp
gvfs-nfs
gvfs-smb
gxkb
gzip
harfbuzz
harfbuzz-icu
haveged
hddtemp
hicolor-icon-theme
hidapi
highway
http-parser
hwdata
hwinfo
hwloc
hyphen
i3lock-color
iana-etc
icu
imagemagick
imath
imlib2
inetutils
iniparser
intel-ucode
inxi
iproute2
iptables
iputils
iso-codes
jack2
jansson
jasper
jemalloc
jfsutils
jgmenu
jp2a
jq
json-c
json-glib
jsoncpp
kauth
kbd
kcoreaddons
keyutils
kguiaddons
kitemmodels
kmod
krb5
l-smash
lame
lcms2
ldb
ldns
less
libaio
libappindicator-gtk3
libarchive
libass
libassuan
libasyncns
libatasmart
libatomic_ops
libavc1394
libavif
libayatana-appindicator
libayatana-indicator
libblockdev
libbluray
libbpf
libbs2b
libbsd
libbytesize
libcanberra
libcap
libcap-ng
libcddb
libcdio
libcdio-paranoia
libcloudproviders
libcolord
libconfig
libcue
libcups
libdaemon
libdatrie
libdbusmenu-glib
libdbusmenu-gtk3
libde265
libdecor
libdrm
libdvdnav
libdvdread
libedit
libelf
libepoxy
libev
libevdev
libevent
libexif
libffi
libfm
libfm-extra
libfm-gtk2
libfontenc
libftdi
libgcrypt
libgirepository
libgit2
libglvnd
libgpg-error
libgphoto2
libgtop
libgudev
libhandy
libheif
libical
libice
libid3tag
libidn2
libiec61883
libimagequant
libimobiledevice
libinih
libinput
libinstpatch
libisl
libjpeg-turbo
libjxl
libkeybinder3
libksba
libldap
liblqr
libmad
libmanette
libmaxminddb
libmd
libmfx
libmm-glib
libmms
libmng
libmnl
libmodplug
libmpc
libmtp
libndp
libnetfilter_conntrack
libnewt
libnfnetlink
libnfs
libnftnl
libnghttp2
libnice
libnl
libnm
libnma
libnma-common
libnotify
libnsl
libogg
libomxil-bellagio
libopenmpt
libp11-kit
libpamac
libpcap
libpciaccess
libpgm
libpipeline
libpipewire
libplacebo
libplist
libpng
libproxy
libpsl
libpulse
libraqm
libraw1394
librsvg
libsamplerate
libsasl
libseccomp
libsecret
libsidplayfp
libsigc++
libsm
libsndfile
libsodium
libsoup
libsoup3
libsoxr
libssh
libssh2
libstemmer
libsysprof-capture
libtasn1
libteam
libthai
libtheora
libtiff
libtirpc
libtool
libunistring
libunwind
liburcu
libusb
libusb-compat
libusbmuxd
libutempter
libuv
libva
libvdpau
libverto
libvorbis
libvpx
libwacom
libwbclient
libwebp
libwnck3
libwpe
libx11
libx86emu
libxau
libxcb
libxcomposite
libxcrypt
libxcursor
libxcvt
libxdamage
libxdmcp
libxext
libxfce4ui
libxfce4util
libxfixes
libxfont2
libxft
libxi
libxinerama
libxkbcommon
libxkbcommon-x11
libxkbfile
libxklavier
libxml2
libxmlb
libxmu
libxpm
libxpresent
libxrandr
libxrender
libxres
libxshmfence
libxslt
libxss
libxt
libxtst
libxv
libxxf86vm
libyaml
libyuv
licenses
light
lightdm
lightdm-gtk-greeter
lightdm-gtk-greeter-settings
linux-api-headers
linux-firmware
linux-firmware-whence
lirc
llvm-libs
lm_sensors
lmdb
logrotate
lsb-release
lsof
lua
lua51
luajit
lvm2
lxappearance
lxappearance-obconf
lxinput
lxmenu-data
lxrandr
lxtask
lz4
lzo
m4
mailcap
maim
make
man-db
man-pages
manjaro-application-utility
manjaro-hotfixes
manjaro-icons
manjaro-keyring
manjaro-openbox-maia
manjaro-openbox-matcha
manjaro-pulse
manjaro-settings-manager
manjaro-system
matcha-gtk-theme
materia-gtk-theme
mc
md4c
mdadm
meld
memtest86+
menu-cache
mesa
mesa-demos
mhwd
mhwd-amdgpu
mhwd-ati
mhwd-db
mhwd-nvidia
mhwd-nvidia-390xx
mhwd-nvidia-470xx
mkinitcpio
mkinitcpio-busybox
mkinitcpio-openswap
mobile-broadband-provider-info
moreutils
mpfr
mpg123
mpv
mpvc-git
mtdev
mtpfs
mujs
nano
ncurses
neofetch
neon
net-tools
nettle
network-manager-applet
networkmanager
networkmanager-openconnect
networkmanager-openvpn
networkmanager-pptp
networkmanager-vpnc
nfs-utils
nfsidmap
nftables
nitrogen
nm-connection-editor
nordic-darker-theme
nordic-theme
notify-send.sh
noto-fonts
npth
nspr
nss
ntfs-3g
numix-circle-icon-theme
numix-cursor-theme
numix-icon-theme
numix-square-icon-theme
numlockx
oath-toolkit
obconf
ocl-icd
oniguruma
openbox
openbsd-netcat
openconnect
opencore-amr
openexr
openjpeg2
openmpi
openpmix
openresolv
openssh
openssl
openssl-1.1
openvpn
opus
opusfile
orc
os-prober
p11-kit
p7zip
pacman
pam
pamac-cli
pambase
pamixer
pango
pangomm
papirus-icon-theme
parted
pastebinit
pastel
patch
pavucontrol
pciutils
pcmanfm
pcre
pcre2
pcsclite
perl
perl-clone
perl-encode-locale
perl-error
perl-file-listing
perl-html-parser
perl-html-tagset
perl-http-cookies
perl-http-daemon
perl-http-date
perl-http-message
perl-http-negotiate
perl-io-html
perl-io-tty
perl-ipc-run
perl-libwww
perl-lwp-mediatypes
perl-mailtools
perl-net-http
perl-time-duration
perl-timedate
perl-try-tiny
perl-uri
perl-www-robotrules
perl-xml-parser
perl-xml-writer
picom
pinentry
pixman
pkcs11-helper
pkgconf
playerctl
polkit
polkit-gnome
polkit-qt5
popt
portaudio
ppp
pptpclient
procps-ng
psmisc
pulseaudio
pulseaudio-alsa
pulseaudio-bluetooth
pulseaudio-ctl
pulseaudio-zeroconf
pygrid
pyradio
python
python-async_generator
python-attrs
python-cairo
python-certifi
python-chardet
python-colorama
python-configobj
python-dateutil
python-dnspython
python-docopt
python-exceptiongroup
python-gobject
python-h11
python-idna
python-isodate
python-keyutils
python-lxml
python-markdown-it-py
python-mdurl
python-netifaces
python-npyscreen
python-outcome
python-packaging
python-pillow
python-psutil
python-pycountry
python-pycryptodome
python-pygments
python-pysocks
python-pyxdg
python-requests
python-rich
python-six
python-sniffio
python-sortedcontainers
python-trio
python-trio-websocket
python-uc-micro-py
python-urllib3
python-websocket-client
python-wsproto
python-xlib
python-yaml
qt5-base
qt5-declarative
qt5-imageformats
qt5-svg
qt5-translations
qt5-wayland
qt5-x11extras
rav1e
readline
reiserfsprogs
ripgrep
rlwrap
rpcbind
rsync
rtkit
rubberband
run-parts
s-nail
sbc
scrot
sd
sdl2
sed
shaderc
shadow
shared-mime-info
skippy-xd
slang
slop
smbclient
socat
sof-firmware
sound-theme-freedesktop
speex
speexdsp
spirv-tools
sqlite
srt
startup-notification
stoken
streamlink
sudo
svt-av1
sysfsutils
systemd
systemd-libs
systemd-sysvcompat
talloc
tar
tcl
tdb
terminator
terminus-font
tevent
texinfo
theme.sh-git
thin-provisioning-tools
tint2
tpm2-tss
traceroute
tracker3
tree
tslib
ttf-autour-one
ttf-dejavu
ttf-hack
ttf-inconsolata
ttf-jetbrains-mono
ttf-nerd-fonts-symbols-common
ttf-roboto
ttf-ubuntu-font-family
tzdata
uchardet
udiskie
udisks2
ueberzug
unrar
unzip
upower
usb_modeswitch
usbmuxd
usbutils
util-linux
util-linux-libs
v4l-utils
v86d
vi
vid.stab
viewnior
vim
vim-runtime
vmaf
volume_key
volumeicon
vpnc
vte-common
vte3
vulkan-icd-loader
w3m
wavpack
wayland
wayland-protocols
webkit2gtk
webp-pixbuf-loader
webrtc-audio-processing
wget
which
whois
wireless_tools
wmctrl
woff2
wpa_supplicant
wpebackend-fdo
x264
x265
xarchiver
xcape
xcb-proto
xcb-util
xcb-util-cursor
xcb-util-image
xcb-util-keysyms
xcb-util-renderutil
xcb-util-wm
xcb-util-xrm
xclip
xcursor-breeze
xdg-dbus-proxy
xdg-user-dirs
xdg-user-dirs-gtk
xdg-utils
xdotool
xf86-input-elographics
xf86-input-evdev
xf86-input-libinput
xf86-input-void
xf86-video-dummy
xf86-video-fbdev
xfce4-notifyd
xfce4-power-manager
xfce4-volumed-pulse
xfconf
xfsprogs
xkeyboard-config
xmlsec
xmlstarlet
xorg-fonts-100dpi
xorg-fonts-75dpi
xorg-fonts-alias-100dpi
xorg-fonts-alias-75dpi
xorg-fonts-encodings
xorg-fonts-type1
xorg-server
xorg-server-common
xorg-server-xephyr
xorg-setxkbmap
xorg-xauth
xorg-xbacklight
xorg-xdpyinfo
xorg-xev
xorg-xinit
xorg-xinput
xorg-xkbcomp
xorg-xkill
xorg-xmodmap
xorg-xprop
xorg-xrandr
xorg-xrdb
xorg-xset
xorg-xwininfo
xorgproto
xpad
xsel
xsettingsd
xvidcore
xxhash
xz
yad
yajl
yay
yt-dlp
ytfzf
zeromq
zimg
zip
zlib
zstd
